@import url('https://fonts.googleapis.com/css?family=Lato:300|Roboto+Mono:300');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  font-family: 'Roboto Mono', monospace;
  text-rendering: optimizeLegibility;
}

#splash {
  position: absolute;
  right: 7%;
  bottom: 7%;
  text-align: right;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  color: #333;
}

#title {
  opacity: 0.3;
  margin-top: -10px;
}

a {
  text-transform: uppercase;
  color: #3598d6;
  text-decoration: none;
}

.modal {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-flow: column nowrap;
  background-color: #333;
  opacity: 0;
  z-index: -999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  border: 1px solid #FFF;
  transition: opacity 1s ease,z-index 0.01s cubic-bezier(0.77, 0, 0.175, 1);

}

.modal-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: flex-start;

}
.menu-close {
  position: absolute;
  bottom: 0;
  letter-spacing: 34;
}
.menu > a:before {
  content: '+';
  padding-right: 0.75em;
}

.modal > a:before {
  content: '-';
  padding-right: 0.75em;
}


@media only screen and (max-width: 868px) {
  #splash {
    text-align: left;
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 468px) {
  #splash {
    font-size: 18px;
  }
}

/*
blue: #76d4fb
another blue: #3598d6
*/